body{
    background-color: aliceblue;
}
header{
    background-color: #061d3d;
    -webkit-text-fill-color: aliceblue;
}
nav{
    background-color: aliceblue;
    -webkit-text-fill-color: #061d3d;
}