body{
    background-color: #FBF8F0;
    h1, h2{
        font-family: 'Merriweather', serif;
        color: #2F4F6F;
    }
    h3, p{
        font-family: 'Courier Prime', monospace;
        color: #2F4F6F;
    }
    button{
        font-family: 'Merriweather', serif;
    }
}

header{
    padding-left: 10px 2px 10px 2px;
    display: flex;
    flex-direction: row;
    justify-content:space-arround;
    align-items: center;
    flex-wrap: wrap;
}

.intro{
    padding: 5px;
}

.alerta{
    background-color: #D9534F;
    width: 100px;
}

.dicadia{
    background-color: #e0e0e0;
    padding: 3px 5px 3px 5px;
    text-align: center;
    
}
.botaodica{
    background-color: #2F4F6F;
    color: #FBF8F0
}
