body{
    background-color: #FBF8F0;
    h1, h2{
        font-family: 'Merriweather', serif;
        color: #2F4F6F;
    }
    h3, p{
        font-family: 'Courier Prime', monospace;
        color: #2F4F6F;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .card{
        background-color: #e0e0e0;
        margin: 20px;
        padding: 10px;
        text-align: center;
    }
    .botaoalerta, .botaopanico{
        font-family: 'Merriweather', serif;
        background-color: #D9534F;
        width: 100px;
    }
    .botao{
        font-family: 'Merriweather', serif;
        background-color: #2F4F6F;
        color: #FBF8F0;
        padding: 5px;
        margin: 10px;
    }
}

.panicoativo{
    background-color: darkred !important;
    color: white !important;
    height: 80vh;
    text-align: center;
    .textoemergencia{
        font-size: 4rem;
        font-weight: bold;
        text-transform: uppercase;
        color: yellow;
        padding-top: 200px;
        padding-bottom: 200px;
        animation: piscar 0.5s infinite;
    }
}

@keyframes piscar{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

